{% extends "layout.html" %}
{% block content %}

<script src="/static/js/about.js"></script>

<div class="w-full flex justify-center my-4">
  <button
    id="switch-lang-btn"
    class="bg-sky-700 hover:bg-sky-900
      border-2 border-transparent hover:border-sky-200
      text-white
      px-5 py-1 rounded-lg
      flex items-center gap-2
      shadow-md hover:shadow-lg"
    onclick="switchLanguage()"
  >
    <img id="switch-lang-flag-arg" src="/static/icons/flag-argentina-2.svg" alt="Argentine Flag" class="w-5 h-5"/>
    <img id="switch-lang-flag-us" src="/static/icons/flag-us.svg" alt="US Flag" class="w-5 h-5 hidden"/>
    <div id="switch-lang-btn-text">Español (click to switch to English)</div>
  </button>
</div>

<div id="about-es" class="p-2">
  {% include 'about_es.html' %}
</div>

<div id="about-en" class="p-2 hidden">
  {% include 'about_en.html' %}
</div>

{% endblock content %}
