{% extends "layout.html" %}
{% block content %}

<script src="/static/js/about.js"></script>

<div class="w-full flex justify-center my-4">
  <button
    id="switch-lang-btn"
    class="bg-sky-700 hover:bg-sky-900
      border-2 border-transparent hover:border-sky-200
      text-white
      px-5 py-1 rounded-lg
      flex items-center gap-2 transition-all duration-200
      shadow-md hover:shadow-lg"
    onclick="switchLanguage()"
  >
    Cambiar a Español
  </button>
</div>

<div id="about-es" class="hidden">
  {% include 'about_es.html' %}
</div>

<div id="about-en">
  {% include 'about_en.html' %}
</div>

{% endblock content %}
