{% extends "layout.html" %}
{% block content %}

<div class="max-w-3xl mx-auto mb-5 py-8 px-4
  flex gap-2 flex-col sm:flex-row
  justify-between items-center"
>
  <h1 class="text-3xl font-bold">Últimas noticias</h1>

  <div class="flex gap-5">
    <a href="https://www.frsn.utn.edu.ar/?paged=1&page_id=80"
      target="_blank"
      class="bg-sky-700 hover:bg-sky-900
        border-2 border-transparent hover:border-sky-200
        text-white
        p-2 rounded-lg
        flex items-center gap-2
        shadow-md hover:shadow-lg max-w-fit"
    >
      <p class="whitespace-nowrap text-sm">Ver feed original</p>
      <i data-lucide="external-link"></i>
    </a>
    <a href="{{ url_for('search') }}"
      class="bg-sky-700 hover:bg-sky-900
        border-2 border-transparent hover:border-sky-200
        text-white
        p-2 rounded-lg
        flex items-center gap-2
        shadow-md hover:shadow-lg max-w-fit"
    >
      <i data-lucide="search" class="w-4 h-4"></i>
    </a>
  </div>
</div>

<div id="news-list">
  <!-- News items will be loaded here dynamically -->
</div>

<div class="mt-5 mb-15 max-w-3xl mx-auto flex justify-center gap-4">
  <a href="{{ url_for('search') }}"
    class="bg-sky-700 hover:bg-sky-900
      border-2 border-transparent hover:border-sky-200
      text-white
      px-5 py-1 rounded-lg
      flex items-center gap-2
      shadow-md hover:shadow-lg"
  >
    <i data-lucide="search" class="w-4 h-4"></i>
    Búsqueda Avanzada
  </a>
  <button
    type="button"
    id="load-more-btn"
    class="bg-sky-700 hover:bg-sky-900
      border-2 border-transparent hover:border-sky-200
      text-white
      px-5 py-1 rounded-lg
      flex items-center gap-2
      shadow-md hover:shadow-lg
      cursor-pointer
      disabled:cursor-not-allowed
      disabled:border-transparent
      disabled:bg-sky-900/20 disabled:text-gray-500
      disabled:shadow-none
      "
    onclick="loadMoreResults()"
    disabled
  >
    <i data-lucide="rotate-cw" class="w-4 h-4"></i>
    Cargar Más
  </button>
</div>

<i data-lucide="loader-circle" class="animate-spin hidden w-6 h-6 mt-6 mb-15 mx-auto" id="spinner"></i>

<script src="/static/js/home.js"></script>

{% endblock content %}
